<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>testmaven</display-name>
    <session-config>
        <session-timeout>
            50
        </session-timeout>
    </session-config>
    <servlet>
    	<servlet-name>ServerLoaderServlet</servlet-name>
    	<servlet-class>it.corsojava.testmav.utils.servlet.ServerLoaderServlet</servlet-class>
	<init-param>
		<param-name>CONNECTION</param-name>
		<param-value>1</param-value>
	</init-param>
    <init-param>
    	<param-name>DATABASE_DRIVER</param-name>
    	<param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
    	<param-name>DATABASE_URL</param-name>
    	<param-value>jdbc:mysql://localhost:3306/biblioteca?allowMultiQueries=true&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC&amp;useSSL=false</param-value>
    </init-param>
    <init-param>
    	<param-name>DATABASE_USERNAME</param-name>
    	<param-value>root</param-value>
    </init-param>
    <init-param>
    	<param-name>DATABASE_PASSWORD</param-name>
    	<param-value>root</param-value>
    </init-param>
    <init-param>
    	<param-name>DATABASE_ENV</param-name>
    	<param-value>java:/comp/env</param-value>
    </init-param>
    <init-param>
    	<param-name>DATABASE_JDBC</param-name>
    	<param-value>jdbc/testmaven-ds</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    
    </servlet>
 
	
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
